Repository mauchacon99/rithm-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @belugasanity, @Gobsmack90, @cqmdeveloper, @strut-software/team-lion-style-reviewers

.github/CODEOWNERS:

*.scss @belugasanity
*.css @belugasanity
.stylelintrc.json @belugasanity
src/assets/**/* @belugasanity
.browserslistrc @belugasanity

*.ts @Gobsmack90
*.js @Gobsmack90
*.spec.ts @Gobsmack90
*.json @Gobsmack90

*.html @Gobsmack90 @belugasanity

# Team Falcon rules
src/app/map/*.scss @Gobsmack90
src/app/map/**/*.scss @Gobsmack90
src/app/map/**/*.html @Gobsmack90

# Team Lion rules
src/app/detail/**/*.ts @Gobsmack90 @cqmdeveloper @belugasanity
src/app/document/**/*.ts @Gobsmack90 @cqmdeveloper @belugasanity
src/app/station/**/*.ts @Gobsmack90 @cqmdeveloper @belugasanity
src/app/info-drawer/**/*.ts @Gobsmack90 @cqmdeveloper @belugasanity

src/app/detail/**/*.html @strut-software/team-lion-style-reviewers
src/app/document/**/*.html @strut-software/team-lion-style-reviewers
src/app/station/**/*.html @strut-software/team-lion-style-reviewers
src/app/info-drawer/**/*.html @strut-software/team-lion-style-reviewers

src/app/detail/**/*.scss @strut-software/team-lion-style-reviewers
src/app/document/**/*.scss @strut-software/team-lion-style-reviewers
src/app/station/**/*.scss @strut-software/team-lion-style-reviewers
src/app/info-drawer/**/*.scss @strut-software/team-lion-style-reviewers

trying diff things
  src/app/map/map.service.ts
Owners: @Gobsmack90

resolve response type text and add pipe in response http get
  src/app/core/station.service.ts
Owners: @Gobsmack90

RTM-1250 mock request to get roster member
  src/app/core/station.service.spec.ts
  src/app/core/station.service.ts
  src/app/shared/roster-management-modal/roster-management-modal.component.spec.ts
  src/app/shared/roster-management-modal/roster-management-modal.component.ts
  src/mocks/mock-station-service.ts
Owners: @Gobsmack90

RTM-1319 Updated model stationOwners instead supervisors
  src/app/core/document.service.spec.ts
  src/app/core/station.service.spec.ts
  src/app/detail/document-info-header/document-info-header.component.spec.ts
  src/app/info-drawer/station-info-drawer/station-info-drawer.component.html
  src/app/info-drawer/station-info-drawer/station-info-drawer.component.spec.ts
  src/app/station/station/station.component.spec.ts
  src/mocks/mock-document-service.ts
  src/mocks/mock-station-service.ts
  src/models/dashboard-station-data.ts
  src/models/document-station-info.ts
  src/models/station-info.ts
Owners: @Gobsmack90, @cqmdeveloper, @belugasanity, @strut-software/team-lion-style-reviewers

Update station.service.ts
  src/app/core/station.service.ts
Owners: @Gobsmack90

Update station-info-drawer.component.ts
  src/app/info-drawer/station-info-drawer/station-info-drawer.component.ts
Owners: @Gobsmack90, @cqmdeveloper, @belugasanity

tried add separate zoom tracker, no dice
  src/app/map/map-constants.ts
  src/app/map/map.service.ts
Owners: @Gobsmack90

update status the station
  src/app/info-drawer/info-drawer.module.ts
  src/app/info-drawer/station-info-drawer/station-info-drawer.component.html
  src/app/info-drawer/station-info-drawer/station-info-drawer.component.ts
Owners: @Gobsmack90, @cqmdeveloper, @belugasanity, @strut-software/team-lion-style-reviewers

Supervisor changed to StationOwner in UserType enum
  src/app/detail/document-info-header/document-info-header.component.html
  src/app/shared/station-documents-modal/station-documents-modal.component.spec.ts
  src/models/enums/user-type.enum.ts
Owners: @strut-software/team-lion-style-reviewers, @Gobsmack90

applied changes suggestions
  src/app/core/station.service.spec.ts
  src/app/core/station.service.ts
  src/app/dashboard/dashboard.service.spec.ts
  src/app/dashboard/station-card/station-card.component.spec.ts
  src/app/shared/roster-management-modal/roster-management-modal.component.ts
  src/app/shared/roster/roster.component.spec.ts
  src/app/station/station/station.component.spec.ts
  src/mocks/mock-dashboard-service.ts
  src/mocks/mock-station-service.ts
  src/models/index.ts
  src/models/organization-rosters-list.ts
  src/models/station-roster-member.ts
Owners: @Gobsmack90, @cqmdeveloper, @belugasanity

Update station-roster-member.ts
  src/models/station-roster-member.ts
Owners: @Gobsmack90
