Repository mauchacon99/rithm-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @belugasanity, @HendricksonTyler, @strut-software/map-reviewers, @strut-software/team-lion, @strut-software/team-eagle

revert: remove redundant status code enum
  src/models/enums/http-status-code.enum.ts
  src/models/enums/index.ts
Owners: @HendricksonTyler

refactor: utilize enum for status codes
  src/app/core/token.interceptor.ts
  src/app/map/map-toolbar/map-toolbar.component.ts
Owners: @HendricksonTyler, @belugasanity, @strut-software/map-reviewers

Format
  src/app/dashboard/dashboard/dashboard.component.html
  src/app/dashboard/dashboard/dashboard.component.spec.ts
  src/app/dashboard/dashboard/dashboard.component.ts
Owners: @strut-software/team-eagle

Format
  src/app/dashboard/dashboard/dashboard.component.spec.ts
Owners: @strut-software/team-eagle

style: format using Prettier
  src/app/core/token.interceptor.ts
Owners: @HendricksonTyler, @belugasanity

fix test station-widget
  src/app/dashboard/widgets/station-widget/station-widget.component.spec.ts
Owners: @strut-software/team-eagle

Update rule-modal.component.scss
  src/app/station/rule-modal/rule-modal.component.scss
Owners: @strut-software/team-lion

Completed styling and tests
  src/app/dashboard/dashboard/dashboard.component.html
  src/app/dashboard/dashboard/dashboard.component.spec.ts
  src/mocks/index.ts
  src/mocks/mock-split-sevice.ts
Owners: @strut-software/team-eagle, @HendricksonTyler

couple more comments
  src/app/map/map.service.ts
Owners: @HendricksonTyler, @strut-software/map-reviewers

Merged dev
  src/app/dashboard/dashboard/dashboard.component.html
Owners: @strut-software/team-eagle

fix stationRithmId
  src/app/dashboard/dashboard/dashboard.component.html
  src/app/dashboard/widgets/station-widget/station-widget.component.spec.ts
  src/app/dashboard/widgets/station-widget/station-widget.component.ts
Owners: @strut-software/team-eagle

RTM-1862 Create load indicator in dashboard
  src/app/dashboard/dashboard/dashboard.component.html
  src/app/dashboard/dashboard/dashboard.component.scss
  src/app/dashboard/dashboard/dashboard.component.ts
Owners: @strut-software/team-eagle

RTM-1862 Create load indicator in dashboard
  src/app/dashboard/dashboard/dashboard.component.html
Owners: @strut-software/team-eagle

RTM-1862 Create load indicator in dashboard
  src/app/dashboard/dashboard/dashboard.component.html
  src/app/dashboard/dashboard/dashboard.component.spec.ts
Owners: @strut-software/team-eagle

RTM-1862 Create load indicator in dashboard
  src/app/dashboard/dashboard/dashboard.component.spec.ts
Owners: @strut-software/team-eagle

RTM-1876-display-a-loading-indicator-while-the-request-for-getting-station-questions
  src/app/station/flow-logic/flow-logic.component.spec.ts
  src/app/station/rule-modal/rule-modal.component.html
  src/app/station/rule-modal/rule-modal.component.spec.ts
  src/app/station/rule-modal/rule-modal.component.ts
Owners: @strut-software/team-lion

RTM-1862 Create load indicator in dashboard
  src/app/dashboard/dashboard/dashboard.component.scss
Owners: @strut-software/team-eagle

RTM-1862 Create load indicator in dashboard
  src/app/dashboard/dashboard/dashboard.component.scss
Owners: @strut-software/team-eagle

RTM-1862 Create load indicator in dashboard
  src/app/dashboard/dashboard/dashboard.component.scss
Owners: @strut-software/team-eagle

Update rule-modal.component.ts
  src/app/station/rule-modal/rule-modal.component.ts
Owners: @strut-software/team-lion

Done
  src/app/core/document.service.ts
Owners: @HendricksonTyler, @belugasanity

Format
  src/app/core/document.service.ts
Owners: @HendricksonTyler, @belugasanity

RTM-1877 Display error message stations questions
  src/app/station/rule-modal/rule-modal.component.html
  src/app/station/rule-modal/rule-modal.component.spec.ts
  src/app/station/rule-modal/rule-modal.component.ts
Owners: @strut-software/team-lion

Update rule-modal.component.spec.ts
  src/app/station/rule-modal/rule-modal.component.spec.ts
Owners: @strut-software/team-lion

font-semibold in title dashboard.component
  src/app/dashboard/dashboard/dashboard.component.html
Owners: @strut-software/team-eagle

change in error message
  src/app/station/rule-modal/rule-modal.component.html
Owners: @strut-software/team-lion

Merged with dev
  src/app/dashboard/dashboard/dashboard.component.html
Owners: @strut-software/team-eagle

Prettier
  src/app/dashboard/dashboard/dashboard.component.html
Owners: @strut-software/team-eagle

remove class
  src/app/station/rule-modal/rule-modal.component.html
Owners: @strut-software/team-lion

Fix Spec
  src/app/core/document.service.spec.ts
Owners: @HendricksonTyler, @belugasanity

.github/CODEOWNERS:

# High-level rules (these will be overridden by later rules)
*.scss @belugasanity
*.css @belugasanity
.stylelintrc.json @belugasanity
src/assets/**/* @belugasanity
.browserslistrc @belugasanity

*.ts @HendricksonTyler
*.js @HendricksonTyler
*.spec.ts @HendricksonTyler
*.json @HendricksonTyler

*.html @HendricksonTyler @belugasanity
index.html @HendricksonTyler @belugasanity
index.testing.html @HendricksonTyler @belugasanity

# Shared Module rules
src/app/core/**/*.ts @HendricksonTyler @belugasanity

src/app/detail/**/*.ts @HendricksonTyler @belugasanity
src/app/detail/**/*.html @HendricksonTyler @belugasanity
src/app/detail/**/*.scss @belugasanity

src/app/info-drawer/**/*.ts @HendricksonTyler @belugasanity
src/app/info-drawer/**/*.html @HendricksonTyler @belugasanity
src/app/info-drawer/**/*.scss @belugasanity

src/app/navigation/**/*.ts @HendricksonTyler @belugasanity
src/app/navigation/**/*.html @HendricksonTyler @belugasanity
src/app/navigation/**/*.scss @belugasanity

# Team Falcon rules
src/app/map/ @HendricksonTyler @strut-software/map-reviewers

# Team Lion rules
src/app/admin/ @strut-software/team-lion
src/app/document/ @strut-software/team-lion
src/app/settings/ @strut-software/team-lion
src/app/station/ @strut-software/team-lion

# Team Eagle rules
src/app/dashboard/ @strut-software/team-eagle
