Repository mauchacon99/rithm-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @belugasanity, @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82, @cqmdeveloper, @AdamsContreras999

.github/CODEOWNERS:

# High-level rules (these will be overridden by later rules)
*.scss @belugasanity
*.css @belugasanity
.stylelintrc.json @belugasanity
src/assets/**/* @belugasanity
.browserslistrc @belugasanity

*.ts @HendricksonTyler
*.js @HendricksonTyler
*.spec.ts @HendricksonTyler
*.json @HendricksonTyler

*.html @HendricksonTyler @belugasanity
index.html @HendricksonTyler @belugasanity
index.testing.html @HendricksonTyler @belugasanity

# Shared Module rules
src/app/core/**/*.ts @HendricksonTyler @belugasanity

src/app/detail/**/*.ts @HendricksonTyler @belugasanity
src/app/detail/**/*.html @HendricksonTyler @belugasanity
src/app/detail/**/*.scss @belugasanity

src/app/info-drawer/**/*.ts @HendricksonTyler @belugasanity
src/app/info-drawer/**/*.html @HendricksonTyler @belugasanity
src/app/info-drawer/**/*.scss @belugasanity

src/app/navigation/**/*.ts @HendricksonTyler @belugasanity
src/app/navigation/**/*.html @HendricksonTyler @belugasanity
src/app/navigation/**/*.scss @belugasanity

# Team Falcon rules
src/app/map/ @HendricksonTyler @Gobsmack90 @adarsh3593 @manojk82
# src/app/map/*.scss @Gobsmack90
# src/app/map/**/*.scss @Gobsmack90
# src/app/map/**/*.html @HendricksonTyler @Gobsmack90

# Team Lion rules
src/app/admin/ @belugasanity @cqmdeveloper @AdamsContreras999
src/app/dashboard/ @belugasanity @cqmdeveloper @AdamsContreras999
src/app/document/ @belugasanity @cqmdeveloper @AdamsContreras999
src/app/settings/ @belugasanity @cqmdeveloper @AdamsContreras999
src/app/station/ @belugasanity @cqmdeveloper @AdamsContreras999

# src/app/admin/**/*.html @strut-software/team-lion-style-reviewers
# src/app/dashboard/**/*.html @strut-software/team-lion-style-reviewers
# src/app/document/**/*.html @strut-software/team-lion-style-reviewers
# src/app/settings/**/*.html @strut-software/team-lion-style-reviewers
# src/app/station/**/*.html @strut-software/team-lion-style-reviewers

# src/app/admin/**/*.scss @strut-software/team-lion-style-reviewers
# src/app/dashboard/**/*.scss @strut-software/team-lion-style-reviewers
# src/app/document/**/*.scss @strut-software/team-lion-style-reviewers
# src/app/settings/**/*.scss @strut-software/team-lion-style-reviewers
# src/app/station/**/*.scss @strut-software/team-lion-style-reviewers

Update station-info-drawer.component.ts
  src/app/info-drawer/station-info-drawer/station-info-drawer.component.ts
Owners: @HendricksonTyler, @belugasanity

Update src/app/map/map-canvas/map-canvas.component.ts
  src/app/map/map-canvas/map-canvas.component.ts
Owners: @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82

More cleanup
  src/app/map/map-canvas/map-canvas.component.ts
Owners: @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82

ci: place and remove app_offline file on deployment to dev
  .github/workflows/dev-deployments.yml
Owners: none

ci: test commit for working job
  .github/workflows/dev-deployments.yml
Owners: none
