Repository mauchacon99/rithm-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @belugasanity, @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82, @cqmdeveloper, @AdamsContreras999

.github/CODEOWNERS:

# High-level rules (these will be overridden by later rules)
*.scss @belugasanity
*.css @belugasanity
.stylelintrc.json @belugasanity
src/assets/**/* @belugasanity
.browserslistrc @belugasanity

*.ts @HendricksonTyler
*.js @HendricksonTyler
*.spec.ts @HendricksonTyler
*.json @HendricksonTyler

*.html @HendricksonTyler @belugasanity
index.html @HendricksonTyler @belugasanity
index.testing.html @HendricksonTyler @belugasanity

# Shared Module rules
src/app/core/**/*.ts @HendricksonTyler @belugasanity

src/app/detail/**/*.ts @HendricksonTyler @belugasanity
src/app/detail/**/*.html @HendricksonTyler @belugasanity
src/app/detail/**/*.scss @belugasanity

src/app/info-drawer/**/*.ts @HendricksonTyler @belugasanity
src/app/info-drawer/**/*.html @HendricksonTyler @belugasanity
src/app/info-drawer/**/*.scss @belugasanity

src/app/navigation/**/*.ts @HendricksonTyler @belugasanity
src/app/navigation/**/*.html @HendricksonTyler @belugasanity
src/app/navigation/**/*.scss @belugasanity

# Team Falcon rules
src/app/map/ @HendricksonTyler @Gobsmack90 @adarsh3593 @manojk82
# src/app/map/*.scss @Gobsmack90
# src/app/map/**/*.scss @Gobsmack90
# src/app/map/**/*.html @HendricksonTyler @Gobsmack90

# Team Lion rules
src/app/admin/ @belugasanity @cqmdeveloper @AdamsContreras999
src/app/dashboard/ @belugasanity @cqmdeveloper @AdamsContreras999
src/app/document/ @belugasanity @cqmdeveloper @AdamsContreras999
src/app/settings/ @belugasanity @cqmdeveloper @AdamsContreras999
src/app/station/ @belugasanity @cqmdeveloper @AdamsContreras999

# src/app/admin/**/*.html @strut-software/team-lion-style-reviewers
# src/app/dashboard/**/*.html @strut-software/team-lion-style-reviewers
# src/app/document/**/*.html @strut-software/team-lion-style-reviewers
# src/app/settings/**/*.html @strut-software/team-lion-style-reviewers
# src/app/station/**/*.html @strut-software/team-lion-style-reviewers

# src/app/admin/**/*.scss @strut-software/team-lion-style-reviewers
# src/app/dashboard/**/*.scss @strut-software/team-lion-style-reviewers
# src/app/document/**/*.scss @strut-software/team-lion-style-reviewers
# src/app/settings/**/*.scss @strut-software/team-lion-style-reviewers
# src/app/station/**/*.scss @strut-software/team-lion-style-reviewers

centerPan method created
  src/app/map/map-canvas/map-canvas.component.ts
  src/app/map/map.service.ts
Owners: @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82

Unit testing made
  src/app/detail/document-info-header/document-info-header.component.html
  src/app/detail/document-info-header/document-info-header.component.spec.ts
  src/app/detail/station-info-header/station-info-header.component.html
  src/app/detail/station-info-header/station-info-header.component.spec.ts
  src/app/detail/station-info-header/station-info-header.component.ts
  src/app/station/station/station.component.html
Owners: @HendricksonTyler, @belugasanity, @cqmdeveloper, @AdamsContreras999

add sugestions
  src/app/document/document/document.component.html
  src/app/document/document/document.component.spec.ts
  src/app/document/document/document.component.ts
Owners: @belugasanity, @cqmdeveloper, @AdamsContreras999

fix min
  src/app/document/document/document.component.ts
Owners: @belugasanity, @cqmdeveloper, @AdamsContreras999

fix min
  src/app/document/document/document.component.spec.ts
  src/app/document/document/document.component.ts
Owners: @belugasanity, @cqmdeveloper, @AdamsContreras999

Updated variable and removed extra line
  src/app/map/flow-element.service.ts
Owners: @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82

Apply suggestions from code review
  src/app/station/station/station.component.html
Owners: @belugasanity, @cqmdeveloper, @AdamsContreras999

changes
  src/app/core/document.service.ts
Owners: @HendricksonTyler, @belugasanity

changes requested
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.ts
Owners: @HendricksonTyler, @belugasanity

Adjusted dragging tolerances to avoid future issues.
  src/app/map/map-canvas/map-canvas.component.ts
Owners: @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82

RTM-1647 UI display loading indicator when request is being made
  src/app/detail/previous-fields/previous-fields.component.html
  src/app/detail/previous-fields/previous-fields.component.spec.ts
  src/app/detail/previous-fields/previous-fields.component.ts
Owners: @HendricksonTyler, @belugasanity

Subject removed
  src/app/core/sidenav-drawer.service.ts
  src/app/detail/document-info-header/document-info-header.component.spec.ts
  src/app/detail/document-info-header/document-info-header.component.ts
  src/app/detail/station-info-header/station-info-header.component.spec.ts
  src/app/detail/station-info-header/station-info-header.component.ts
Owners: @HendricksonTyler, @belugasanity

minor fixes
  src/app/detail/document-info-header/document-info-header.component.ts
  src/app/detail/station-info-header/station-info-header.component.ts
Owners: @HendricksonTyler, @belugasanity

RTM-1648 Tell previous-fields component if isStation to toggle what is displayed
  src/app/document/document.module.ts
  src/app/document/document/document.component.html
  src/app/document/document/document.component.spec.ts
  src/app/document/document/document.component.ts
  src/app/station/station/station.component.html
Owners: @belugasanity, @cqmdeveloper, @AdamsContreras999

experimenting with setting up a centerInterval
  src/app/map/map.service.ts
  src/mocks/mock-map-service.ts
Owners: @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82

still playing with options
  src/app/map/map-canvas/map-canvas.component.ts
  src/app/map/map-overlay/map-overlay.component.ts
  src/app/map/map.service.ts
Owners: @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82

need to set up cleartimeout on eventstartlogic
  src/app/map/map-canvas/map-canvas.component.ts
  src/app/map/map-overlay/map-overlay.component.ts
  src/app/map/map.service.ts
Owners: @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82

RTM-1707 Fix add station mode uni test
  src/app/map/map-toolbar/map-toolbar.component.spec.ts
  src/mocks/mock-map-service.ts
Owners: @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82

Update document-info-drawer.component.html
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.html
Owners: @HendricksonTyler, @belugasanity

Instructions field prompt fixed
  src/app/station/station-field/station-field.component.html
  src/app/station/station-field/station-field.component.ts
  src/models/enums/question-field-type.enum.ts
Owners: @belugasanity, @cqmdeveloper, @AdamsContreras999, @HendricksonTyler

minor fixes
  src/app/detail/document-info-header/document-info-header.component.html
Owners: @HendricksonTyler, @belugasanity

add suggestions
  src/app/document/document/document.component.spec.ts
  src/app/document/document/document.component.ts
Owners: @belugasanity, @cqmdeveloper, @AdamsContreras999

min fix
  src/app/document/document/document.component.spec.ts
Owners: @belugasanity, @cqmdeveloper, @AdamsContreras999

changes requested
  src/app/document/document/document.component.html
  src/app/document/document/document.component.ts
Owners: @belugasanity, @cqmdeveloper, @AdamsContreras999

Task completed
  src/app/map/map-canvas/map-canvas.component.ts
Owners: @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82

changes requested
  src/app/detail/previous-fields/previous-fields.component.html
  src/app/detail/previous-fields/previous-fields.component.spec.ts
Owners: @HendricksonTyler, @belugasanity

Fixed formatting and lint error
  src/app/map/station-element.service.ts
Owners: @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82

boundary edge screen dimension
  src/app/map/map-canvas/map-canvas.component.ts
Owners: @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82

Unit test optimized
  src/app/detail/document-info-header/document-info-header.component.spec.ts
  src/app/detail/station-info-header/station-info-header.component.spec.ts
Owners: @HendricksonTyler, @belugasanity

RTM-1685 Adding a new connection and then deleting that newly created connection is incorrectly counting as a change
  src/app/map/map-overlay/map-overlay.component.ts
Owners: @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82

can now interrupt center pan as intended
  src/app/map/map-canvas/map-canvas.component.ts
  src/app/map/map-overlay/map-overlay.component.ts
  src/app/map/map.service.ts
Owners: @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82

RTM-1625 RTM-1626 display-inline-loading-indicator
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.html
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.ts
Owners: @HendricksonTyler, @belugasanity

RTM-1625 RTM-1626 display-inline-loading-indicator
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.html
Owners: @HendricksonTyler, @belugasanity

Apply suggestions from code review
  src/app/detail/document-info-header/document-info-header.component.html
Owners: @HendricksonTyler, @belugasanity

changes requested
  src/app/detail/previous-fields/previous-fields.component.spec.ts
Owners: @HendricksonTyler, @belugasanity

QuestionRithmId fixed in questions added
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.ts
Owners: @HendricksonTyler, @belugasanity

changes requested
  src/app/document/document.module.ts
Owners: @belugasanity, @cqmdeveloper, @AdamsContreras999

jumpy but working
  src/app/map/map-canvas/map-canvas.component.ts
  src/app/map/map-overlay/map-overlay.component.ts
  src/app/map/map.service.ts
Owners: @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82

RTM-1625 RTM-1626 display-inline-loading-indicator
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.html
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.spec.ts
Owners: @HendricksonTyler, @belugasanity

small thing
  src/app/document/document/document.component.html
  src/app/document/document/document.component.spec.ts
  src/app/document/document/document.component.ts
Owners: @belugasanity, @cqmdeveloper, @AdamsContreras999
