Repository mauchacon99/rithm-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @belugasanity, @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82, @cqmdeveloper, @AdamsContreras999

All functionality of tasks complete, need to correct bugs
  src/app/map/map-canvas/map-canvas.component.ts
  src/app/map/map.service.ts
  src/app/map/station-element.service.ts
Owners: @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82

RTM-1591 While in addFlow mode, display: Select flows and stations to add to new flow
  src/app/map/map-overlay/map-overlay.component.html
  src/app/map/map-overlay/map-overlay.component.ts
Owners: @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82

Boundary box edge code refactor changes
  src/app/map/map-boundary.service.spec.ts
  src/app/map/map-boundary.service.ts
  src/app/map/map-canvas/map-canvas.component.ts
Owners: @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82

changes requested in previos-fields.componente.spec
  src/app/detail/previous-fields/previous-fields.component.spec.ts
Owners: @HendricksonTyler, @belugasanity

Update document-info-drawer.component.html
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.html
Owners: @HendricksonTyler, @belugasanity

Updated logic to prevent multiple connections between the same stations
  src/app/map/map-canvas/map-canvas.component.ts
Owners: @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82

RTM-1629 Take user back to the dashboard when the document successfully flows to next station
  src/app/document/document/document.component.spec.ts
  src/app/document/document/document.component.ts
  src/app/station/station/station.component.spec.ts
Owners: @belugasanity, @cqmdeveloper, @AdamsContreras999

Update document-info-drawer.component.html
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.html
Owners: @HendricksonTyler, @belugasanity

small
  src/app/document/document/document.component.spec.ts
Owners: @belugasanity, @cqmdeveloper, @AdamsContreras999

Update document-info-drawer.component.html
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.html
Owners: @HendricksonTyler, @belugasanity

chore: update dependabot config to ignore major node type changes
  .github/dependabot.yml
Owners: none

chore(deps-dev): downgrade node types to v16 to match project
  package-lock.json
  package.json
Owners: @HendricksonTyler

optimized unit test
  src/app/document/document/document.component.spec.ts
  src/app/station/station/station.component.spec.ts
Owners: @belugasanity, @cqmdeveloper, @AdamsContreras999

small changes
  src/app/document/document/document.component.spec.ts
Owners: @belugasanity, @cqmdeveloper, @AdamsContreras999

RTM-1627-display-an-error-if-request-fails
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.html
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.spec.ts
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.ts
Owners: @HendricksonTyler, @belugasanity

Update document-info-drawer.component.spec.ts
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.spec.ts
Owners: @HendricksonTyler, @belugasanity

RTM-1627-display-an-error-if-request-fails
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.html
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.spec.ts
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.ts
Owners: @HendricksonTyler, @belugasanity

Working on restoring connection
  src/app/map/map-canvas/map-canvas.component.ts
Owners: @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82

RTM-1708 Mock request done
  src/app/core/document.service.spec.ts
  src/app/core/document.service.ts
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.spec.ts
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.ts
  src/mocks/mock-document-service.ts
Owners: @HendricksonTyler, @belugasanity

fix: enable a re-established connection to be adjusted again
  src/app/map/map-canvas/map-canvas.component.ts
  src/app/map/map.service.ts
Owners: @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82

Set click priority to node over connection line.
  src/app/map/map-canvas/map-canvas.component.ts
Owners: @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82

RTM-1627-display-an-error-if-request-fails
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.spec.ts
Owners: @HendricksonTyler, @belugasanity

Merge branch 'dev' into RTM-1627-display-an-error-if-request-fails
  .github/dependabot.yml
  package-lock.json
  package.json
Owners: @HendricksonTyler

RTM-1627-display-an-error-if-request-fails
  .github/dependabot.yml
  package-lock.json
  package.json
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.html
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.spec.ts
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.ts
Owners: @HendricksonTyler, @belugasanity

small thing
  src/app/document/document/document.component.spec.ts
Owners: @belugasanity, @cqmdeveloper, @AdamsContreras999

changes requested
  src/app/detail/previous-fields/previous-fields.component.ts
  src/app/station/station/station.component.html
Owners: @HendricksonTyler, @belugasanity, @cqmdeveloper, @AdamsContreras999

Apply suggestions from code review
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.spec.ts
Owners: @HendricksonTyler, @belugasanity

RTM-1708 Suggestion Mock request done
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.spec.ts
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.ts
Owners: @HendricksonTyler, @belugasanity

Small changes
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.spec.ts
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.ts
Owners: @HendricksonTyler, @belugasanity

Small change
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.spec.ts
Owners: @HendricksonTyler, @belugasanity

Small change
  src/app/info-drawer/document-info-drawer/document-info-drawer.component.spec.ts
Owners: @HendricksonTyler, @belugasanity

RTM-1727-delete-station-button-should-show-up-when-edit-mode
  src/app/info-drawer/station-info-drawer/station-info-drawer.component.html
  src/app/info-drawer/station-info-drawer/station-info-drawer.component.ts
Owners: @HendricksonTyler, @belugasanity

Update src/app/map/station-element.service.ts
  src/app/map/station-element.service.ts
Owners: @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82

Update src/app/map/station-element.service.ts
  src/app/map/station-element.service.ts
Owners: @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82

Update src/app/map/map-canvas/map-canvas.component.ts
  src/app/map/map-canvas/map-canvas.component.ts
Owners: @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82

Update src/app/map/map-canvas/map-canvas.component.ts
  src/app/map/map-canvas/map-canvas.component.ts
Owners: @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82

RTM-1664 Validation for naming Email and URL fields is wrong in Station page
  src/app/detail/text-field/text-field.component.ts
Owners: @HendricksonTyler, @belugasanity

small changes
  src/app/detail/text-field/text-field.component.spec.ts
Owners: @HendricksonTyler, @belugasanity

Cleaned up code.
  src/app/map/map-canvas/map-canvas.component.ts
  src/app/map/map-constants.ts
Owners: @HendricksonTyler, @Gobsmack90, @adarsh3593, @manojk82

RTM-1727-delete-station-button-should-show-up-when-edit-mode
  src/app/info-drawer/station-info-drawer/station-info-drawer.component.html
  src/app/info-drawer/station-info-drawer/station-info-drawer.component.ts
Owners: @HendricksonTyler, @belugasanity

.github/CODEOWNERS:

# High-level rules (these will be overridden by later rules)
*.scss @belugasanity
*.css @belugasanity
.stylelintrc.json @belugasanity
src/assets/**/* @belugasanity
.browserslistrc @belugasanity

*.ts @HendricksonTyler
*.js @HendricksonTyler
*.spec.ts @HendricksonTyler
*.json @HendricksonTyler

*.html @HendricksonTyler @belugasanity
index.html @HendricksonTyler @belugasanity
index.testing.html @HendricksonTyler @belugasanity

# Shared Module rules
src/app/core/**/*.ts @HendricksonTyler @belugasanity

src/app/detail/**/*.ts @HendricksonTyler @belugasanity
src/app/detail/**/*.html @HendricksonTyler @belugasanity
src/app/detail/**/*.scss @belugasanity

src/app/info-drawer/**/*.ts @HendricksonTyler @belugasanity
src/app/info-drawer/**/*.html @HendricksonTyler @belugasanity
src/app/info-drawer/**/*.scss @belugasanity

src/app/navigation/**/*.ts @HendricksonTyler @belugasanity
src/app/navigation/**/*.html @HendricksonTyler @belugasanity
src/app/navigation/**/*.scss @belugasanity

# Team Falcon rules
src/app/map/ @HendricksonTyler @Gobsmack90 @adarsh3593 @manojk82
# src/app/map/*.scss @Gobsmack90
# src/app/map/**/*.scss @Gobsmack90
# src/app/map/**/*.html @HendricksonTyler @Gobsmack90

# Team Lion rules
src/app/admin/ @belugasanity @cqmdeveloper @AdamsContreras999
src/app/dashboard/ @belugasanity @cqmdeveloper @AdamsContreras999
src/app/document/ @belugasanity @cqmdeveloper @AdamsContreras999
src/app/settings/ @belugasanity @cqmdeveloper @AdamsContreras999
src/app/station/ @belugasanity @cqmdeveloper @AdamsContreras999

# src/app/admin/**/*.html @strut-software/team-lion-style-reviewers
# src/app/dashboard/**/*.html @strut-software/team-lion-style-reviewers
# src/app/document/**/*.html @strut-software/team-lion-style-reviewers
# src/app/settings/**/*.html @strut-software/team-lion-style-reviewers
# src/app/station/**/*.html @strut-software/team-lion-style-reviewers

# src/app/admin/**/*.scss @strut-software/team-lion-style-reviewers
# src/app/dashboard/**/*.scss @strut-software/team-lion-style-reviewers
# src/app/document/**/*.scss @strut-software/team-lion-style-reviewers
# src/app/settings/**/*.scss @strut-software/team-lion-style-reviewers
# src/app/station/**/*.scss @strut-software/team-lion-style-reviewers
