Repository mauchacon99/rithm-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @belugasanity, @HendricksonTyler, @strut-software/map-reviewers, @strut-software/team-lion, @strut-software/team-eagle

.github/CODEOWNERS:

# High-level rules (these will be overridden by later rules)
*.scss @belugasanity
*.css @belugasanity
.stylelintrc.json @belugasanity
src/assets/**/* @belugasanity
.browserslistrc @belugasanity

*.ts @HendricksonTyler
*.js @HendricksonTyler
*.spec.ts @HendricksonTyler
*.json @HendricksonTyler

*.html @HendricksonTyler @belugasanity
index.html @HendricksonTyler @belugasanity
index.testing.html @HendricksonTyler @belugasanity

# Shared Module rules
src/app/core/**/*.ts @HendricksonTyler @belugasanity

src/app/detail/**/*.ts @HendricksonTyler @belugasanity
src/app/detail/**/*.html @HendricksonTyler @belugasanity
src/app/detail/**/*.scss @belugasanity

src/app/info-drawer/**/*.ts @HendricksonTyler @belugasanity
src/app/info-drawer/**/*.html @HendricksonTyler @belugasanity
src/app/info-drawer/**/*.scss @belugasanity

src/app/navigation/**/*.ts @HendricksonTyler @belugasanity
src/app/navigation/**/*.html @HendricksonTyler @belugasanity
src/app/navigation/**/*.scss @belugasanity

# Team Falcon rules
src/app/map/ @HendricksonTyler @strut-software/map-reviewers

# Team Lion rules
src/app/admin/ @strut-software/team-lion
src/app/document/ @strut-software/team-lion
src/app/settings/ @strut-software/team-lion
src/app/station/ @strut-software/team-lion

# Team Eagle rules
src/app/dashboard/ @strut-software/team-eagle

RTM-1872 connect api get stations questions
  src/app/core/station.service.spec.ts
  src/app/core/station.service.ts
Owners: @HendricksonTyler, @belugasanity

Correction #1
  src/app/core/station.service.spec.ts
Owners: @HendricksonTyler, @belugasanity

RTM-1746-add-the-right-elements-for-the-step-3
  src/app/station/rule-modal/rule-modal.component.html
  src/app/station/rule-modal/rule-modal.component.scss
  src/app/station/rule-modal/rule-modal.component.ts
Owners: @strut-software/team-lion

Update rule-modal.component.html
  src/app/station/rule-modal/rule-modal.component.html
Owners: @strut-software/team-lion

Update rule-modal.component.html
  src/app/station/rule-modal/rule-modal.component.html
Owners: @strut-software/team-lion

RTM-1874 RTM-1875 UI display the questions in a dropdown below the stepper and UI disable the next button if theres not selected questions
  src/app/station/rule-modal/rule-modal.component.html
  src/app/station/rule-modal/rule-modal.component.spec.ts
  src/app/station/rule-modal/rule-modal.component.ts
  src/mocks/mock-station-service.ts
Owners: @strut-software/team-lion, @HendricksonTyler

RTM-1746-add-the-right-elements-for-the-step-3
  src/app/station/flow-logic/flow-logic.component.spec.ts
  src/app/station/rule-modal/rule-modal.component.html
  src/app/station/rule-modal/rule-modal.component.spec.ts
Owners: @strut-software/team-lion

RTM-1885 Display Error Message in Flow Logic Rules
  src/app/station/flow-logic/flow-logic.component.html
  src/app/station/flow-logic/flow-logic.component.spec.ts
  src/app/station/flow-logic/flow-logic.component.ts
Owners: @strut-software/team-lion

change with npm run format
  src/app/station/flow-logic/flow-logic.component.spec.ts
Owners: @strut-software/team-lion

added comments to properties and getMapData
  src/app/map/map.service.ts
Owners: @HendricksonTyler, @strut-software/map-reviewers

RTM 1893 Done
  src/app/core/document.service.spec.ts
  src/app/core/document.service.ts
  src/app/dashboard/widgets/station-widget/station-widget.component.spec.ts
  src/app/dashboard/widgets/station-widget/station-widget.component.ts
  src/mocks/mock-document-service.ts
  src/models/station-widget-data.ts
  src/models/widget-document.ts
Owners: @HendricksonTyler, @belugasanity, @strut-software/team-eagle

RTM-1746-add-the-right-elements-for-the-step-3
  src/app/station/flow-logic/flow-logic.component.spec.ts
  src/app/station/rule-modal/rule-modal.component.html
  src/app/station/rule-modal/rule-modal.component.spec.ts
  src/app/station/rule-modal/rule-modal.component.ts
Owners: @strut-software/team-lion

Update rule-modal.component.html
  src/app/station/rule-modal/rule-modal.component.html
Owners: @strut-software/team-lion

RTM-1886 Display loading in flow logic rules
  src/app/station/flow-logic/flow-logic.component.html
  src/app/station/flow-logic/flow-logic.component.spec.ts
  src/app/station/flow-logic/flow-logic.component.ts
Owners: @strut-software/team-lion

RTM-1779-redirect-the-user-to-the-document-if-successful
  src/app/info-drawer/station-info-drawer/station-info-drawer.component.spec.ts
Owners: @HendricksonTyler, @belugasanity

RTM-1878 UI go to the next step when the user clicks on the next button
  src/app/station/rule-modal/rule-modal.component.html
Owners: @strut-software/team-lion

Update src/app/dashboard/widgets/station-widget/station-widget.component.spec.ts
  src/app/dashboard/widgets/station-widget/station-widget.component.spec.ts
Owners: @strut-software/team-eagle

Update src/models/station-widget-data.ts
  src/models/station-widget-data.ts
Owners: @HendricksonTyler

RTM-1905 Connect the path to the service that will return the widgets
  src/app/dashboard/dashboard.service.spec.ts
  src/app/dashboard/dashboard.service.ts
  src/mocks/mock-dashboard-service.ts
Owners: @strut-software/team-eagle, @HendricksonTyler

Core functionality up, still needs some styling adjustments
  src/app/app.component.html
  src/app/dashboard/dashboard.module.ts
  src/app/dashboard/dashboard/dashboard.component.html
  src/app/dashboard/dashboard/dashboard.component.spec.ts
  src/app/dashboard/dashboard/dashboard.component.ts
  src/app/navigation/top-nav/top-nav.component.ts
Owners: @HendricksonTyler, @belugasanity, @strut-software/team-eagle

down to setConnections
  src/app/map/map.service.ts
Owners: @HendricksonTyler, @strut-software/map-reviewers

addressed requested changes
  src/app/map/map-canvas/map-canvas.component.ts
Owners: @HendricksonTyler, @strut-software/map-reviewers

Updated some straggler flows that were added on another task.
  src/app/map/map-canvas/map-canvas.component.ts
Owners: @HendricksonTyler, @strut-software/map-reviewers

RTM-1857-1855-widgets-in-dashboard
  src/app/dashboard/dashboard/dashboard.component.html
  src/app/dashboard/dashboard/dashboard.component.ts
  src/app/dashboard/widgets/station-widget/station-widget.component.html
  src/app/dashboard/widgets/station-widget/station-widget.component.ts
Owners: @strut-software/team-eagle

fix: name for map data received from API
  src/app/map/map.service.spec.ts
  src/app/map/map.service.ts
  src/mocks/mock-map-service.ts
  src/models/map-data.ts
Owners: @HendricksonTyler, @strut-software/map-reviewers

style: update prettier
  src/app/map/map-boundary.service.ts
Owners: @HendricksonTyler, @strut-software/map-reviewers

chore(deps-dev): update all Angular deps to be consistent
  package-lock.json
  package.json
Owners: @HendricksonTyler

feat: easter egg to recognize team
  src/app/map/map-canvas/map-canvas.component.html
  src/app/map/map.module.ts
  src/app/map/recognition/recognition.directive.ts
  src/app/map/recognition/recognition.module.ts
Owners: @HendricksonTyler, @strut-software/map-reviewers

refactor: move comment components into SCAM model
  src/app/comment/comment-drawer/comment-drawer.component.html
  src/app/comment/comment-drawer/comment-drawer.component.scss
  src/app/comment/comment-drawer/comment-drawer.component.spec.ts
  src/app/comment/comment-drawer/comment-drawer.component.ts
  src/app/comment/comment-drawer/comment-drawer.module.ts
  src/app/comment/comment-input/comment-input.component.html
  src/app/comment/comment-input/comment-input.component.scss
  src/app/comment/comment-input/comment-input.component.spec.ts
  src/app/comment/comment-input/comment-input.component.ts
  src/app/comment/comment-input/comment-input.module.ts
  src/app/comment/comment/comment.component.html
  src/app/comment/comment/comment.component.scss
  src/app/comment/comment/comment.component.spec.ts
  src/app/comment/comment/comment.component.ts
  src/app/comment/comment/comment.module.ts
  src/app/core/comment.service.spec.ts
  src/app/core/comment.service.ts
  src/app/detail/detail.module.ts
Owners: @HendricksonTyler, @belugasanity

refactor: loading indicator into SCAM
  src/app/admin/admin.module.ts
  src/app/comment/comment-drawer/comment-drawer.component.spec.ts
  src/app/comment/comment-drawer/comment-drawer.module.ts
  src/app/comment/comment-input/comment-input.component.spec.ts
  src/app/dashboard/dashboard.module.ts
  src/app/detail/detail-drawer/detail-drawer.component.spec.ts
  src/app/detail/detail.module.ts
  src/app/document/document.module.ts
  src/app/entry/entry.module.ts
  src/app/info-drawer/info-drawer.module.ts
  src/app/map/map.module.ts
  src/app/settings/settings.module.ts
  src/app/shared/loading-indicator/loading-indicator.module.ts
  src/app/shared/shared.module.ts
  src/app/station/station.module.ts
Owners: @strut-software/team-lion, @HendricksonTyler, @strut-software/team-eagle, @belugasanity, @strut-software/map-reviewers

refactor: move shared components into SCAM model
  src/app/admin/admin.module.ts
  src/app/comment/comment-drawer/comment-drawer.module.ts
  src/app/comment/comment/comment.module.ts
  src/app/core/core.module.ts
  src/app/dashboard/dashboard.module.ts
  src/app/detail/detail.module.ts
  src/app/document/connected-stations-modal/connected-stations-modal.component.spec.ts
  src/app/document/document.module.ts
  src/app/entry/entry.module.ts
  src/app/info-drawer/info-drawer.module.ts
  src/app/map/map.module.ts
  src/app/navigation/navigation.module.ts
  src/app/settings/settings.module.ts
  src/app/shared/dialog/dialog.module.ts
  src/app/shared/pagination/pagination.module.ts
  src/app/shared/password-requirements/password-requirements.module.ts
  src/app/shared/roster-management-modal/roster-management-modal.module.ts
  src/app/shared/roster-modal/roster-modal.module.ts
  src/app/shared/roster/roster.module.ts
  src/app/shared/shared.module.ts
  src/app/shared/station-documents-modal/station-documents-modal.module.ts
  src/app/shared/user-avatar/user-avatar.module.ts
  src/app/shared/user-form/user-form.module.ts
  src/app/shared/user-removal/user-removal.module.ts
  src/app/station/station.module.ts
Owners: @strut-software/team-lion, @HendricksonTyler, @belugasanity, @strut-software/team-eagle, @strut-software/map-reviewers

test: fix loading indicator mock
  src/app/document/connected-stations-modal/connected-stations-modal.component.spec.ts
Owners: @strut-software/team-lion

style: format prettier
  src/app/admin/admin.module.ts
  src/app/core/core.module.ts
  src/app/dashboard/dashboard.module.ts
  src/app/document/connected-stations-modal/connected-stations-modal.component.spec.ts
  src/app/entry/entry.module.ts
  src/app/info-drawer/info-drawer.module.ts
  src/app/map/map.module.ts
  src/app/settings/settings.module.ts
  src/app/shared/comment/comment-drawer/comment-drawer.module.ts
  src/app/shared/comment/comment-input/comment-input.module.ts
  src/app/shared/dialog/dialog.module.ts
  src/app/shared/document-info-header/document-info-header.module.ts
  src/app/shared/roster-management-modal/roster-management-modal.module.ts
  src/app/shared/roster-modal/roster-modal.module.ts
  src/app/shared/roster/roster.module.ts
  src/app/shared/station-documents-modal/station-documents-modal.module.ts
  src/app/shared/user-form/user-form.module.ts
Owners: @strut-software/team-lion, @HendricksonTyler, @belugasanity, @strut-software/team-eagle, @strut-software/map-reviewers

refactor: move info drawer components to SCAM model
  src/app/document/document.module.ts
  src/app/info-drawer/info-drawer.module.ts
  src/app/info-drawer/info-drawer.scss
  src/app/map/map.module.ts
  src/app/shared/document-info-drawer/document-info-drawer.component.html
  src/app/shared/document-info-drawer/document-info-drawer.component.scss
  src/app/shared/document-info-drawer/document-info-drawer.component.spec.ts
  src/app/shared/document-info-drawer/document-info-drawer.component.ts
  src/app/shared/document-info-drawer/document-info-drawer.module.ts
  src/app/shared/info-drawer/info-drawer.component.html
  src/app/shared/info-drawer/info-drawer.component.scss
  src/app/shared/info-drawer/info-drawer.component.spec.ts
  src/app/shared/info-drawer/info-drawer.component.ts
  src/app/shared/info-drawer/info-drawer.module.ts
  src/app/shared/station-info-drawer/station-info-drawer.component.html
  src/app/shared/station-info-drawer/station-info-drawer.component.scss
  src/app/shared/station-info-drawer/station-info-drawer.component.spec.ts
  src/app/shared/station-info-drawer/station-info-drawer.component.ts
  src/app/shared/station-info-drawer/station-info-drawer.module.ts
  src/app/station/station.module.ts
Owners: @strut-software/team-lion, @HendricksonTyler, @belugasanity, @strut-software/map-reviewers

delete p station-widget
  src/app/dashboard/dashboard/dashboard.component.ts
  src/app/dashboard/widgets/station-widget/station-widget.component.html
Owners: @strut-software/team-eagle

move changes andres made to new location of same files
  src/app/shared/fields/check-field/check-field.component.html
  src/app/shared/fields/check-field/check-field.component.scss
  src/app/shared/fields/check-field/check-field.component.ts
  src/app/shared/fields/date-field/date-field.component.ts
  src/app/shared/fields/nested-field/nested-field.component.html
  src/app/shared/fields/number-field/number-field.component.ts
  src/app/shared/fields/select-field/select-field.component.ts
Owners: @HendricksonTyler, @belugasanity

format
  src/app/shared/fields/check-field/check-field.component.html
  src/app/shared/fields/check-field/check-field.component.scss
  src/app/shared/fields/check-field/check-field.component.ts
  src/app/shared/fields/date-field/date-field.component.ts
  src/app/shared/fields/nested-field/nested-field.component.html
  src/app/shared/fields/number-field/number-field.component.ts
  src/app/shared/fields/select-field/select-field.component.ts
Owners: @HendricksonTyler, @belugasanity

RTM-1947 Importations fixed, other minor things fixed
  src/app/document/document.module.ts
  src/app/shared/comment/comment-drawer/comment-drawer.component.html
  src/app/shared/document-info-drawer/document-info-drawer.module.ts
  src/app/shared/document-info-header/document-info-header.component.html
  src/app/shared/document-info-header/document-info-header.module.ts
  src/app/shared/fields/date-field/date-field.module.ts
  src/app/shared/fields/number-field/number-field.module.ts
  src/app/shared/fields/text-field/text-field.component.ts
  src/app/shared/fields/text-field/text-field.module.ts
  src/app/shared/info-drawer/info-drawer.module.ts
  src/app/shared/station-info-drawer/station-info-drawer.module.ts
  src/app/shared/station-info-header/station-info-header.module.ts
  src/app/shared/sub-header/sub-header.component.html
  src/app/shared/sub-header/sub-header.module.ts
  src/app/station/station/station.component.ts
Owners: @strut-software/team-lion, @HendricksonTyler, @belugasanity

Formar
  src/app/dashboard/dashboard/dashboard.component.html
  src/app/dashboard/dashboard/dashboard.component.spec.ts
  src/app/dashboard/dashboard/dashboard.component.ts
Owners: @strut-software/team-eagle

Format
  src/app/dashboard/dashboard/dashboard.component.html
Owners: @strut-software/team-eagle
